{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <div class="col-sm-10">

        <h3 class="mt-5">About Page</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, cupiditate dolore harum impedit iure
            magnam maiores perferendis soluta temporibus veniam! A alias aspernatur cum debitis incidunt quidem
            repudiandae rerum voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut dolorum ducimus, ea est excepturi
            fugiat id maiores non nulla perspiciatis quasi quo reprehenderit soluta tempora temporibus totam voluptas
            voluptates.



        </p>


    </div>




{% endblock %}